<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Monitoramento de Sistemas</title>
    <!-- <meta http-equiv="refresh" content="60"> -->

    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-title">
            <img src="{% static 'favicon.png' %}" alt="Ícone" class="header-icon">
            <h1>Monitoramento de Sistemas</h1>
        </div>
        <span class="header-text">Desenvolvido por Pedro Amelotti, Equipe de Tecnologia XMX<br /><a href="{% url 'admin:index' %}" style="color: aliceblue; text-align: right;">Admin</a></span>
    </header>

    <div class="container" id="main-container">
        <!-- onde os sistemas serão exibidos de forma dinâmica -->
    </div> 
    
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>
